.container__UserCard {
  width: 300px;
  height: 500px;
  padding-bottom: 20px;
  border: 1px solid gray;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.img__UserCard {
  width: 250px;
  height: 250px;
  padding-top: 10px;
}

.name__UserCard {
  text-align: center;
  color: blueviolet;
}
