.container__favorite {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items__favorite {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  margin-top: 10px;
}

.img__favorite {
  width: 400px;
  height: auto;
}

.btn__favorite {
  width: 400px;
  padding: 10px;
  margin-top: 10px;
}
